atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
coverage==4.5.1
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
prompt-toolkit==2.0.6
py==1.6.0
pytest==3.8.2
pytest-cov==2.6.0
six==1.11.0
wcwidth==0.1.7
